
<!doctype html>
<html>
<head>
<title>Đăng ký</title>
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/styledangki.css" rel='stylesheet' type='text/css' media="all" />
	<link rel="stylesheet" href="{{ url_for('static', filename=' css/styledangki.css')}}">
</head>
<body>
<h1 class="w3ls">Đăng ký tài khoảng</h1>
<div class="content-w3ls">
	<div class="content-agile1">
		<div class="logo">
			<a href="{{ url_for('home') }}">
				<img src="static/images/logo-i.png" style="width: 50px; background: white; margin: 10px">
			</a>
		</div>
	</div>
	<div class="content-agile2">
		<form action="#" method="post">
			<div class="form-control w3layouts"> 
				<input type="text" id="firstname" name="firstname" placeholder="First Name" title="Please enter your First Name" required="">
			</div>

			<div class="form-control w3layouts">	
				<input type="email" id="email" name="email" placeholder="mail@example.com" title="Please enter a valid email" required="">
			</div>

			<div class="form-control agileinfo">	
				<input type="password" class="lock" name="password" placeholder="Password" id="password1" required="">
			</div>	

			<div class="form-control agileinfo">	
				<input type="password" class="lock" name="confirm-password" placeholder="Confirm Password" id="password2" required="">
			</div>			
			
			<input type="submit" class="register" value="Register">
		</form>
		<p class="wthree w3l">Đăng ký nhanh với tài khoảng của bạn</p>
		<ul class="social-agileinfo wthree2">
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-youtube"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>